<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de Placas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Búsqueda de Vehículos ECU 911</h1>
    <form method="POST">
        <input type="text" name="placa" placeholder="Ingrese la placa" required>
        <button type="submit">Buscar</button>
    </form>

    {% if resultado %}
        <h2>Resultado:</h2>
        {% if resultado is string %}
            <p>{{ resultado }}</p>
        {% else %}
            <ul>
                <li>ID: {{ resultado[0] }}</li>
                <li>Nombres: {{ resultado[1] }}</li>
                <li>Cédula: {{ resultado[2] }}</li>
                <li>Institución: {{ resultado[3] }}</li>
                <li>Cargo: {{ resultado[4] }}</li>
                <li>Placa: {{ resultado[5] }}</li>
                <li>Marca: {{ resultado[6] }}</li>
                <li>Modelo: {{ resultado[7] }}</li>
                <li>Tipo: {{ resultado[8] }}</li>
                <li>Color: {{ resultado[9] }}</li>
            </ul>
        {% endif %}
    {% endif %}

    <p><a href="{{ url_for('logout') }}">Cerrar sesión</a></p>
</body>
</html>
