<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP PLACAS ECU 911</title>
    <meta name="author" content="Ivan Chulde"/>
    <meta name="description" content="Control de Acceso a la Aplicación de Vehículos del ECU 911 Ambato" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/styles/base.css">
</head>
<body>
    <header>
        <img src="../static/images/ecu911_logo.webp" alt="Logo ECU 911" id="logo">
        <span>APP PLACAS ECU 911</span>
        <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
            <button type="submit" class="logout-btn">Salir</button>
        </form>

    </header>

    <main>
        <div class="main-card">
            <h1>Búsqueda de Vehículos ECU 911</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form method="POST">
                <input type="text" name="placa" placeholder="Ingrese la placa" required>
                <button type="submit">Buscar</button>
            </form>

            {% if resultado %}
                <div class="result-card">
                    {% if resultado is string %}
                        <p>{{ resultado }}</p>
                    {% else %}
                        <ul>
                           
                            <li>Nombres: {{ resultado[1] }}</li>
                            <li>Cédula: {{ resultado[2] }}</li>
                            <li>Institución: {{ resultado[3] }}</li>
                            <li>Cargo: {{ resultado[4] }}</li>
                            <li>Placa: {{ resultado[5] }}</li>
                            <li>Marca: {{ resultado[6] }}</li>
                            <li>Modelo: {{ resultado[7] }}</li>
                            <li>Tipo: {{ resultado[8] }}</li>
                            <li>Color: {{ resultado[9] }}</li>
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </main>

    <footer class="modern-footer">
        <div class="footer-bottom">
            <p>&copy; <span id="current-year"></span> Ivan Chulde | Ambato-Ecuador.</p>
            <p>Last Modified in: <span id="lastModified"></span></p>
        </div>
    </footer>

    <script>
        // Año actual
        document.getElementById('current-year').textContent = new Date().getFullYear();
        // Fecha última modificación
        document.getElementById('lastModified').textContent = document.lastModified;
    </script>
</body>
</html>
