<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ECU 911</title>
    <meta name="author" content="Ivan Chulde"/>
    <meta name="description" content="Control de Acceso a la Aplicación de Vehiculos del ECU 911 Ambato" />

    <!------Font------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <!------Style Sheets && Scripts------------>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}"> <!------Cambiar cuando no se vaya a flask------------>
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <img src="{{ url_for('static', filename='images/ecu911_logo.webp') }}" alt="Logo ECU 911" id="logo">
            <h2>Iniciar Sesión</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="password" name="clave" placeholder="Contraseña" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
    
</body>
</html>